---
import { getAllPosts } from '../sanity/api';
import { urlForImage } from '../sanity/urlForImage.js';

const posts = await getAllPosts();
---

<section>
  <ul class="grid-3-col">
    {
      posts.map((post) => (
        <li>
          <img src={urlForImage(post.mainImage).url()} alt="" />
          <a class="chevron" href={`/projects/${post.slug.current}`}>
            {post.title}
            <i class="fas fa-chevron-right" />
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  @import '../../styles/sass/base/mixins';

  section {
    margin: 144px 0;

    li a {
      margin-top: 16px;
      margin-bottom: 24px;
    }

    @include breakpoint(tablet) {
      margin: 64px 0;
    }

    .services-information {
      max-width: 66%;

      @include breakpoint(tablet) {
        max-width: 100%;
      }

      @include breakpoint(mobile) {
        padding-top: 24px;
      }
    }

    img {
      width: 100%;
      height: 264px;
      object-fit: cover;

      @include breakpoint(mobile) {
        height: 200px;
      }
    }
  }
</style>
