---
import Card from './Card.astro';

interface CardInterface {
  img: string;
  description: string;
}

const cards: CardInterface[] = [
  {
    img: 'img/service_1.jpg',
    description:
      'Naprawy siłowników tzn. nierozbieralnych, zakuwanych, aluminiowych i stalowych',
  },
  {
    img: 'img/service_2.jpg',
    description:
      'Usuwamy nieszczelności siłownika jak i wykonujemy jego odbudowę.',
  },
  {
    img: 'img/service_3.jpg',
    description:
      'Dorabiamy elementy mocujące siłowniki oraz czujniki położenia.',
  },
];
---

<section>
  <div class="services-information">
    <h2>Usługi</h2>
    <p class="large-body">
      Prowadzimy kompleksowy serwis, wykonywany z&nbspnajwyższą starannością.
      Mamy szeroki wachlarz usług z&nbspktórych możemy wyróżnić:
    </p>
  </div>

  <ul class="grid-3-col">
    {
      cards.map((card) => (
        <Card image={card.img} description={card.description} />
      ))
    }
  </ul>
</section>

<style lang="scss">
  @import '../../styles/sass/base/mixins';

  section {
    margin: 144px 0;

    @include breakpoint(tablet) {
      margin: 64px 0;
    }

    .services-information {
      max-width: 66%;

      @include breakpoint(tablet) {
        max-width: 100%;
      }

      @include breakpoint(mobile) {
        padding-top: 24px;
      }
    }
  }
</style>
