---
interface Props {
  image: string;
  description: string;
}

const { image, description } = Astro.props;
---

<li>
  <img src={image} alt="" />
  <div class="small-body-decoration">
    <p class="small-body">
      {description}
    </p>
  </div>
</li>

<style lang="scss">
  @import '../../styles/sass/base/mixins';

  img {
    width: 100%;
    height: 264px;
    object-fit: cover;

    @include breakpoint(mobile) {
      height: 200px;
    }
  }
</style>
