<footer>
  <section class="small-body">
    <div class="company">
      <img src="img/Logo_black.svg" alt="Zasuń" class="footer_logo" />
      <p>Piotr Zasuń</p>
      <p>NIP: 626 269 96 59</p>
    </div>
    <div class="other">
      <p>Copyright &copy 2023 Wszelkie prawa zastrzeżone</p>
      <p>
        Projekt i wykonanie: <a href="mailto:mateuszkarcz88@gmail.com"
          >Unicorn Studio</a
        >
      </p>
    </div>
  </section>
</footer>

<style lang="scss">
  @import '../../styles/sass/base/mixins';

  footer {
    margin-top: auto;
    border-top: 1px solid var(--footer-color);

    section {
      margin: 40px 0;
      gap: 16px;
      display: block;

      p {
        color: var(--footer-color);
      }
    }

    .small-body {
      margin-left: 0;
      font-size: 1.125rem;

      @include breakpoint(mobile) {
        font-size: 1rem;
      }
    }

    img {
      height: 14px;

      @include breakpoint(mobile) {
        height: 12px;
      }
    }

    .company {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .other {
      display: flex;
      justify-content: space-between;

      @include breakpoint(mobile) {
        display: block;
      }

      p:last-child {
        @include breakpoint(mobile) {
          margin-top: 16px;
        }
      }
    }

    a {
      --link-color: var(--black);

      font-weight: 400;

      &:hover {
        color: var(--black);
      }
    }
  }
</style>
