// NAVIGATION LINK

a {
  color: var(--primary-blue);
  font-weight: 500;
  text-decoration: none;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: var(--primary-blue);
    left: 0;
    bottom: -4px;
    height: 1px;
    width: 24px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover {
    color: var(--hover-blue);
  }

  :hover::after {
    width: 100%;
    color: var(--hover-blue);
    background-color: var(--hover-blue);
  }
}
