* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*:focus {
    outline: 2px solid #0C56BC;
    border-radius: 2px;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
    max-width: 1366px;
    width: calc(100vw - 64px);
    margin: auto;
}