h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 1.25em;
  margin: 0;
  color: var(--headline-color);
}

h2 {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.25em;
  padding-bottom: 56px;
  color: var(--headline-color);
}

.large-body {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 40px;
  color: var(--paragraph-color);
}

.small-body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 16px;
  color: var(--paragraph-color);
}
